/TwitchNetworkTransport/
/Twitch/
/TlsDecorator/
/LibreSSL/
/Rover/
/Base64/
/Sha1/
/WebSockets/
/Json/
/HttpNetworkTransport/
/WebServer/
/Http/
/SystemAbstractions/
/Utf8/
/MessageHeaders/
/build/

/Uri/
/googletest/

/.vscode/settings.json
