/StringExtensions/
/AsyncData/
/Serialization/
/Timekeeping/
/Raft/
/Aws/
/aws-sig-v4-test-suite/
/Hash/
/zlib/
/Lurker/
/Base64/
/googletest/
/Http/
/HttpNetworkTransport/
/Json/
/LibreSSL/
/MathBot2001/
/MessageHeaders/
/Rover/
/SystemAbstractions/
/TlsDecorator/
/Twitch/
/TwitchNetworkTransport/
/Uri/
/Utf8/
/WebServer/
/WebSockets/

/.vscode/

/build/
/target/
