.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-style: italic;
}

.App-main {
  font-size: large;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.App-main button,input {
    margin-right: 1em;
}

.App-main-left > div {
    margin-bottom: 10px;
}

.App-Socket-status {
    font-weight: bold;
}

.App-Nickname-input {
    margin-left: 1em;
}

.App-Tells {
    /* border: 1px black solid; */
    width: 100%;
    height: 200px;
}

.App-Tell {
    width: 100%;
    display: flex;
}

.App-Tell-input {
    width: 100%;
    flex-grow: 1;
}

.App-main-left {
    float: left;
    width: 75%;
}

.App-main-right {
    float: left;
    width: 25%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
